[user]
	email = andrew.d.dixon@gmail.com
	name = Andrew Dixon
[push]
	default = simple
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	co = checkout
[core]
	editor = vim
