[color]
  ui = true
[user]
	email = andrew.dixon@lendstreet.com
	name = Andrew Dixon
[push]
	default = current
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  co = checkout
[core]
  editor = vim
	excludefile = /Users/spinlock/.gitignore_global
